{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />




    <!-- bootstrap core css -->

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {%  for m in Maison %}
                    <div class="col">

                        <div class="card shadow-sm">

                            <svg class="bd-placeholder-img card-img-top"  role="img"  ><img src="{{ asset('uploads/'~m.photo) }}"></svg>

                            <div class="card-body">
                                <p>Adresse: {{ m.adresse }}</p>
                                <p>Modele: {{ m.modele.libelle }}</p>
                                <b>Price: {{ m.price }}$</b>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="submit">  <a href="{{ path("detMaison", {'id': m.id}) }}">View</a></button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
