{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Liste des Clients</title>
    </head>
    <body>

    <center>
        <h1>Liste des Clients</h1>

        <table border="2"  >
            <tr>
                <td>Cin</td>
                <td>Nom</td>
                <td>Prenom</td>
                <td>Adresse</td>


                <td>Delete</td>
                <td>Update</td>
            </tr>
            {%  for n in ListeClient %}
                <tr>
                    <td>{{ n.Cin }}</td>
                    <td>{{ n.Nom }}</td>
                    <td>{{ n.Prenom }}</td>
                    <td>{{ n.Adresse }}</td>

                    <td> <a href="{{ path("clientDelete", {'id': n.id}) }}">Delete</a></td>
                    <td> <a href="{{ path("clientUpdate", {'id': n.id}) }}">Update</a></td>
                </tr>
            {% endfor %}
        </table>
    </center>
    </body>
    </html>
{% endblock %}
